
.filter {
    position: absolute;
    left: 5%;
}

.container {
    width: 80%;
    position: relative;
    right: -20%;
}

.container p {
    color: var(--white-pink);
    font-size: 13px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}


@media screen and (max-width: 500px) {
    .container {
        top: 150px;
        left: 5%;
    }

    .filter {
        left: 10%;
    }
}
