.pseudo, .password, .connexion {
    color: var(--white-pink);
    font-family: "Red Hat Display", sans-serif;
}

.connexion, .label {
    padding: 2%;
}

.connexion {
    margin: 8% 0;
}

.form {
    margin: auto;
    height: 60vh;
    width: 35vmax;
    text-align: center;
    padding: 2% 5%;
}

.input {
    background-color: rgb(255, 232, 248, 0);
    border-radius: 10px;
    padding: 2%;
    border: 1px solid var(--pastel-pink);
    color: var(--white-pink);
    font-family: "Red Hat Mono", monospace;
}

.input::placeholder {
    color: var(--white-pink);
}

.input:focus{
    outline: none;
    border: 1px solid var(--pastel-pink);
    color: var(--white-pink);
}

.needed {
    color: red;
    padding-left: 2%;
}

.submit {
    margin: 5% 10%;
    padding: 2% 5%;
    background-color: var(--light-blue);
    border-radius: 50px;
    color: var(--bg-dark);
    font-family: "Red Hat Mono", monospace;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.submit:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
}

.error {
    font-size: 12px;
    color: var(--pastel-pink);
}