body {
  overflow-x: hidden;
}

.hero {
  position: relative;
  overflow: hidden; /* Empêche le défilement horizontal à partir de ce conteneur */
}

.heroHeader {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.heroHeader h1 {
  font-size: 24px;
}

.bubblesBackground {
  position: absolute; /* Les bulles restent relatives au conteneur */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Empêche les bulles d'interférer avec les clics */
}

.viewDetailsButton {
  position: absolute;
  width: 30%;
  background-color: rgba(168, 253, 162, 0.8);
  color: var(--dark-bg);
  padding: 1.5%;
  border-radius: 50px;
  z-index: 5;
  margin-top: 45%;
  margin-left: -65%;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 2.6px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 600;
  font-size: 12px;
  transition: ease-in-out 0.2s;
}

.viewDetailsButton:hover {
  cursor: pointer;
  background-color: rgba(168, 253, 162, 1);
}

.viewDetailsButton:active {
  box-shadow: rgb(83, 83, 83) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.2) -3px -3px 6px 1px inset;
}

/* ICI pour les cercles animés derrière le HERO */
.backgroundSvg1,
.backgroundSvg2,
.backgroundSvg3 {
    position: absolute;
    z-index: -5; /* Placez les SVG derrière le contenu */
    filter: blur(4px); 
    opacity: 0.8; 
}

.backgroundSvg1 {
    top: -5%;
    left: -20%;
    width: 40%;
    height: auto;
    animation: move 10s infinite alternate ease-in-out; /* Animation CSS */
}

.backgroundSvg2 {
    right: -40%;
    width: 60%;
    height: auto;
    animation: scale 10s ease 0s infinite alternate-reverse both;
}

.backgroundSvg3 {
  top: 2%;
  right: 15%;
  height: auto;
  animation: rotate 10s ease 0s infinite normal forwards;
}

.title {
  text-transform: uppercase;
  background-image: conic-gradient(from 210deg at 43% 10%, #00FFFF 11%, #FF69B4 53%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

/* avec ajout d'un effet sur le titre (titre flouté et animé de bas en haut à l'infini) */
.title::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from 210deg at 43% 10%, #00FFFF 11%, #FF69B4 53%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  filter: blur(5px); /* Ajustez la valeur du flou selon vos besoins */
  z-index: -1; /* Placez l'élément flou derrière le texte */
  animation: pulseReg 4s ease-in-out 0s infinite normal forwards;
}

.subTitle {
  width: 50%;
  margin: auto;
  color: white;
  font-family: "Red Hat Display", sans-serif;
}

.discoverCarousel {
  padding-top: 5%;
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carouselItem {
  position: absolute;
  top: 0;
  width: 50%;
  height: auto;
  opacity: 0;
  transition: all 0.3s linear;
}

.activeSlide {
  opacity: 1;
  transform: translateX(0);
  z-index: 1;
}

.lastSlide {
  transform: translateX(-60%) scale(0.8);
  opacity: 0.7;
  filter: blur(5px);
  z-index: 0;
}

.nextSlide {
  transform: translateX(60%) scale(0.8);
  opacity: 0.7;
  filter: blur(5px);
  z-index: 0;
}

.backdropImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.itemTitle {
  position: absolute;
  bottom: 50%;
  /* avec Left à 50% et cette option, je place le titre au milieu du conteneur */
  left: 50%;
  transform: translateX(-50%); 
  color: white;
  background: rgba(23, 2, 32, 0.45);
  padding: 5px 10px;
  border-radius: 4px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}

.prevButton, .nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.buttonChangeState {
  color: white;
  font-family: "Red Hat Mono", monospace;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
}

.buttonChangeState:hover {
  transition: ease-in-out 0.3s;
  cursor: pointer;
  letter-spacing: -1px;
}


@media screen and (max-width: 1090px) {
  .discoverCarousel {
    height: 50vh;
  }
}

@media screen and (max-width: 900px) {
  .discoverCarousel {
    height: 45vh;
  }
}

@media screen and (max-width: 800px) {
  .viewDetailsButton {
    width: 40%;
    font-size: 11px;
  }

  .discoverCarousel {
    height: 35vh;
  }
}

@media screen and (max-width: 650px) {
  .discoverCarousel {
    height: 30vh;
  }
}

@media screen and (max-width: 450px) {
  .title {
    min-width: 25rem;
  }
  .heroHeader h1 {
    font-size: 15px;
    width: 60%;
  }

  .heroHeader p {
    font-size: 12px;
    padding-bottom: 5%;
  }

  .logoSite {
    width: 60%;
    margin-top: 10%;
  }

  .backgroundSvg3 {
    display: none;
  }

  .viewDetailsButton {
    margin-left: -80%;
    font-size: 10px;
    width: 55%;
  }

  .buttonChangeState {
    font-size: 12px;
    width: 80%;
  }

  .discoverCarousel {
    height: 40vh;
  }

  .carouselItem {
    width: 98%;
  }
  
  .lastSlide {
    display: none;
  }
  
  .nextSlide {
    display: none;
  }

  .itemTitle {
    font-size: 3.5vw;
  }


}


/* Keyframe pour les animations */

@keyframes move {
  0% {
      transform: translateY(0) translateX(0);
  }
  50% {
      transform: translateY(-10px) translateX(10px);
  }
  100% {
      transform: translateY(0) translateX(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 50%;
  }

  100% {
    transform: scale(1);
    transform-origin: 100% 50%;
  }
}

@keyframes pulseReg {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.02);
	}

	100% {
		transform: scale(1);
	}
}
