
.itemOptionsContainer {
    position: relative;
}

.ellipseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgba(255,216,243,0.5);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 50%;
    padding: 5px 0;
    transition: 0.3s;
    z-index: 10;
}

.ellipse {
    width: 50%;
}

.ellipseButton:hover {
    background-color: rgba(255,216,243,0.9);
}

.ellipseButton:active {
    box-shadow: rgba(70, 70, 70, 0.5) 3px 3px 6px 0px inset, rgba(255, 216, 243, 0.5) -3px -3px 6px 1px inset;
}

.dropdownContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 6, 35, 0.9);
    border-radius: 15px;
}
