.filterSystem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
  
.filterRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 15vmax;
}

.dropdownContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15vmax;
}

.dropdownButton {
    padding: 10px 15px;
    background-color: var(--bg-dark);
    border: 1px solid var(--light-yellow);
    color: var(--light-yellow);
    font-family: "Red Hat Display", sans-serif;
    border-radius: 4px;
    min-width: 200px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownContent {
    display: none;
    background-color: var(--bg-dark);
    border: 1px solid var(--light-yellow);
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    min-width: 200px;
    z-index: 1000;
}

.dropdownContainer.active .dropdownContent {
    display: block;
}

.searchButton {
    min-width: 200px;
    padding: 10px 20px;
    background-color: var(--light-green);
    color: var(--light-bg);
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    z-index: 1990; /* il se place en-desosus de l'overlay qui est à 2000 et au-dessus des autres éléments de la page */
}

.searchButton:hover {
    background-color: var(--light-blue);
}

.searchButton:active {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px 0px inset;
}

.dropdownIcon {
    filter: brightness(0) saturate(100%) invert(89%) sepia(19%) saturate(654%) hue-rotate(332deg) brightness(105%) contrast(103%); 
    /* pour changer la couleur du logo SVG pour correspondre à la couleur "light yellow" du texte */
}
@media screen and (max-width: 900px) {
    .filterSystem {
        align-items: center;
        min-width: 100px;
    }

    .filterRow {
        width: 100%;
    }

    .dropdownButton {
        margin-left: 0;
    }

    .dropdownContent {
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .filterSystem {
        width: 100%;
        margin-left: 25%;
    }

    .dropdownButton {
        min-width: 200px;
    }

    .dropdownContent {
        min-width: 200px;
    }
}

@media screen and (max-width: 400px) {
    .filterSystem {
        margin-left: 15%;
    }

}