header {
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,216,243,0.5) 25%, rgba(255,216,243,0.5) 75%, rgba(4,6,35,0) 100%) 1;
    border-image-slice: 0 0 1 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
    transition: background-color 0.5s ease; /* Ajoute une transition douce pour le changement de couleur */
}

.headerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-top: 1.5%;
    height: 12vh;
}

.logoSite img {
    width: 110px;
    height: auto;
}

.searchbar {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.searchLogo {
    position: absolute;
    right: 17%;
    cursor: pointer;
}

.searchLogo img {
    width: 35px;
    height: 35px;
}

.searchbar input::placeholder {
    color: rgba(255,216,243,0.5);
    font-size: 0.9rem;
}

.searchbarInput:focus {
    outline: none;
    color: var(--white-pink);
    border-color: var(--white-pink);
    font-size: 0.9rem;
}

.searchbarInput {
    width: 100%;
    height: 4vh;
    background-color: var(--bg-dark);
    border-radius: 50px;
    border: 1px solid var(--white-pink);
    padding: 3.5%;
}

.avatar img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-color: var(--light-green);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notif img {
    width: 50%;
}


/* Styles pour la barre de navigation fixe */
.sticky {
    position: fixed; /* fixe l'élément sur la page; ne bougera pas, même au scroll */
    top: -1.5%;
    width: 100%;
    height: 13%;
    overflow: hidden; /* cache tout contenu qui dépasse les valeurs définies du parent */
    background-color: var(--bg-dark); /* Couleur de fond lorsque la barre est fixe */
    z-index: 5000; /* Assure que la barre de navigation est au-dessus des autres éléments */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour donner un effet de profondeur */
}

/* Styles pour la barre de recherche en overlay */

.menuOverlay {
    position: fixed;
    top: 11%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 6, 35, 0.99);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;
}

.menuOverlay .searchbarOverlay {
    margin-top: 20px;
}

.searchbarOverlay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.tabletIcons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabletIcons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchLogo {
    top: 5%;
    margin-right: -21%;
}


/* Responsive styles */
@media screen and (max-width: 1024px) {
    .searchLogo {
        display: block;
        cursor: pointer;
        right: 10%;
        top: 5%;
    }

    .tabletIcons {
        order: 3;
    }

    .avatar {
        order: 4;
    }
}

@media screen and (max-width: 800px) {
    .notif {
        display: none;
    }

    .headerContent {
        justify-content: space-around;
        height: 20vh;
    }

    .menuBurger {
        order: 1;
        color: var(--white-pink);
    }

    .iconLarge {
        font-size: 24px;
    }

    /* je viens placer l'emplacement du logo au milieu */
    .logoSite {
        order: 2;
        /* je viens combler l'espace manquant par le logo notif qui n'apparaît pas dans la version portable */
        margin-left: -5%;
        margin-right: -5%;
    }

    .logoSite img {
        width: 50px;
        height: auto;
    }

    .avatar {
        order: 3;
    }

    .sticky {
        height: 20%;
    }
}
