
.navLinks {
    color: var(--white-pink);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;   
}

.navLinks li {
    list-style-type: none;
    padding: 1%;
    position: relative; /* Nécessaire pour le dropdown */
}

.navLinks li img {
    cursor: pointer;
}

.navLinks button {
    font-size: 12px;
}

.dropdown {
    position: absolute; /* Positionne le dropdown par rapport à son parent li */
    top: 100%; /* Positionne le dropdown juste en dessous du bouton */
    left: 0; 
    background-image: var(--linear-gradient-dark);
    border-radius: 15px;
    border: none;
    font-family: "Red Hat Text", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1000; /* Assure que le dropdown est au-dessus des autres éléments */
    list-style: none; 
    padding: 10px 0; 
    margin: 0; 
}

.dropdown li {
    padding: 5px 20px; /* Espacement des éléments du dropdown */
    cursor: pointer; /* Indique que c'est cliquable */
    width: 200px;
    text-align: left;
    transition: 0.3s;
    font-size: 12px;
}

.dropdown li:hover {
    background-color: rgba(240, 240, 240, 0.2); /* Couleur de fond au survol */
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--white-pink);
}