
.navLinks {
    color: var(--white-pink);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;   
}

.navLinks li {
    list-style-type: none;
    font-family: "Red Hat Text", sans-serif;
    padding: 1%;
    position: relative; /* Nécessaire pour le dropdown */
}

.navLinks li img {
    cursor: pointer;
}

.navLinks button {
    font-size: 12px;
}

.dropdown {
    position: absolute; /* Positionne le dropdown par rapport à son parent li */
    top: 100%; /* Positionne le dropdown juste en dessous du bouton */
    left: 0; 
    background-image: var(--linear-gradient-dark);
    border-radius: 15px;
    border: none;
    font-family: "Red Hat Text", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1000; /* Assure que le dropdown est au-dessus des autres éléments */
    list-style: none; 
    padding: 10px 0; 
    margin: 0; 
}

.dropdown li {
    padding: 5px 20px; /* Espacement des éléments du dropdown */
    cursor: pointer; /* Indique que c'est cliquable */
    width: 200px;
    text-align: left;
    transition: 0.3s;
    font-size: 12px;
}

.dropdown li:hover {
    background-color: rgba(240, 240, 240, 0.2); /* Couleur de fond au survol */
    border-radius: 10px;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--white-pink);
}

.navOverlay {
    /* Styles spécifiques pour la nav dans l'overlay */
    width: 100%;
    padding: 10%;
}

.navLinksOverlay {
    /* Styles pour les liens dans l'overlay */
    flex-direction: column;
    align-items: flex-start;
}

.navLinksOverlay > li {
    /* Styles pour chaque élément de la liste dans l'overlay */
    width: 100%;
    margin-bottom: 15px;
}

.navLinksOverlay button {
    /* Styles pour les boutons dans l'overlay */
    width: 50%;
    text-align: left;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-family: "Red Hat Text", sans-serif;
}

.navLinksOverlay .dropdown {
    /* Styles pour le dropdown dans l'overlay */
    position: static;
    width: 100%;
    margin-top: 10px;
    background: none;
    box-shadow: none;
}

.navLinksOverlay .dropdown li {
    /* Styles pour les éléments du dropdown dans l'overlay */
    padding: 2% 5%;
    font-family: "Red Hat Text", sans-serif;
}
