.genreFilter {
    margin: 20px 0;
  }

  .genreFilter h3 {
    color: var(--light-yellow);
    font-family: "Red Hat Text", sans-serif;
    font-weight: 200;
    text-align: left;
    padding: 5% 2%;
  }
  
  .genreButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .genreButton {
    padding: 5px 10px;
    border: 1px solid #CE66AE;
    color: var(--light-yellow);
    font-family: "Red Hat Mono", monospace;
    border-radius: 15px;
    background-color: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .genreButton:hover {
    background-color: rgba(255, 232, 248, 0.5);
  }
  
  .genreButton.selected {
    background-color: #CE66AE;
    color: var(--white-pink);
    border-color: var(--light-yellow);
  }